<main class="conatiner-rompecabeza">
    <article id="products_div">
        <h2>Rompecabeza</h2>
        <div class="product-gallery">
            <div class="product-item">
                <img src="assets/img/rompecabezanemo.jpg" alt="Producto 1">
                <h3>Nemo</h3>
                <p>Buscando a dory mi primer libro de rompecabeza</p>
                <h3>$7.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/rompecabezapixar.jpg" alt="Producto 2">
                <h3>Pixar</h3>
                <p>Rompecabezas Disney Pixar Panorama</p>
                <h3>$10.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/rompecabezapokemon.jpg" alt="Producto 3">
                <h3>Pokemon</h3>
                <p>Pokemon Pikachu Eevee Rompecabezas 300 Pz Grandes Nintendo</p>
                <h3>$2.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/rompecabezafrozen.jpg" alt="Producto 4">
                <h3>Frozen</h3>
                <p>Rompecabeza Puzzle Frozen 240 Piezas</p>
                <h3>$5.990</h3>
                <button>Comprar</button>
            </div>
            <!-- Añade más productos según sea necesario -->
        </div>
    </article>
</main>
