<main class="conatiner-rompecabeza">
    <article id="products_div">
        <h2>Familiar</h2>
        <div class="product-gallery">
            <div class="product-item">
                <img src="assets/img/familiartwister.jpg" alt="Producto 1">
                <h3>Twister</h3>
                <p> es el juego que te retuerce de risa ¡con un nuevo giro! Se juega como el clásico juego Twister y cuenta con 2 movimientos adicionales</p>
                <h3>$20.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/familiaroperando.jpg" alt="Producto 2">
                <h3>Operando</h3>
                <p>En este divertido juego se usa la destreza y coordinación, para niños de 6 años en adelante</p>
                <h3>$30.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/familiarpulgaslocas.jpg" alt="Producto 3">
                <h3>Pulgas Locas</h3>
                <p>¡Atrapa las pulgas saltarinas! El juego de mesa "Pulgas Locas" es el clásico y divertido juego de atrapar bichos.</p>
                <h3>$11.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/familiarcarasygestos.jpg" alt="Producto 4">
                <h3>Caras y Gestos</h3>
                <p>Juego de Mesa Hasbro Gaming Caras y gestos</p>
                <h3>$15.990</h3>
                <button>Comprar</button>
            </div>
            <!-- Añade más productos según sea necesario -->
        </div>
    </article>
   </main>
