<div *ngIf="productos && productos.length >0 ; else noData">
    <main class="conatiner-rompecabeza" >
        <article id="products_div" >
            <h2>Aventura</h2>
            <div class="product-gallery">
                <div class="product-item" *ngFor="let producto of productos">
                    <img src="{{producto.imagenUrl}}" alt="Producto 1">
                    <h3>{{producto.nombre}}</h3>
                    <p>{{producto.descripcion}}</p>
                    <h3>${{producto.precio}}</h3>
                    <button>Comprar</button>
                </div>
            </div>
        </article>
    </main>
</div>
<ng-template #noData>
   <p>No Hay Datos Disponibles</p>
</ng-template>
