<main class="conatiner-rompecabeza">
    <article id="products_div" *ngFor="let producto of productos">
        <h2>Aventura</h2>
        <div class="product-gallery">
            <div class="product-item">
                <img src="assets/img/aventurapathfinder.jpg" alt="Producto 1">
                <h3>{{producto.nombre}}</h3>
                <p>{{producto.descripcion}}</p>
                <h3>${{producto.precio}}</h3>
                <button>Comprar</button>
            </div>
        </div>
    </article>
   </main>

