<main class="conatiner-rompecabeza">
    <article id="products_div">
        <h2>Aventura</h2>
        <div class="product-gallery">
            <div class="product-item">
                <img src="assets/img/aventurapathfinder.jpg" alt="Producto 1">
                <h3>PathFinder</h3>
                <p>El juego de cartas de aventuras de Pathfinder</p>
                <h3>$5.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/aventuradungeon.jpg" alt="Producto 2">
                <h3>Dungeons & Dragons</h3>
                <p>Empieza la aventura es un juego de mesa cooperativo para niños a partir de 10 años.</p>
                <h3>$10.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/aventuraeverdell.jpg" alt="Producto 3">
                <h3>Everdell</h3>
                <p>es un juego dinámico de colocación de trabajadores. Coloca tus trabajadores para reunir recursos, conseguir cartas y realizar acciones especiales</p>
                <h3>$4.990</h3>
                <button>Comprar</button>
            </div>
            <div class="product-item">
                <img src="assets/img/aventuraandor.jpg" alt="Producto 4">
                <h3>Las leyendas de Andor</h3>
                <p>El reino de Andor está en peligro. Enemigos surgidos de los bosques y las montañas se dirigen hacia el castillo del viejo Rey Brandur</p>
                <h3>$8.990</h3>
                <button>Comprar</button>
            </div>
            <!-- Añade más productos según sea necesario -->
        </div>
    </article>
   </main>

